//
// 装饰栏
//

@import "variables.less";
@import "mixins.less";


.decoration-bar{
    position: absolute;
    height: @decoration-bar-height;
    min-width: @decoration-bar-min-width;
    width: 100%;
    background: white;
    z-index: -1;
}