//
// 布局
//
@import "variables.less";
@import "mixins.less";
.container {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
}

.row {
    position: relative;
    .clearfix;
}

.column-1 {
    width: 10%;
}

.column-2 {
    width: 20%;
}

.column-3 {
    width: 30%;
}

.column-4 {
    width: 40%;
}

.column-5 {
    width: 50%;
}

.column-6 {
    width: 60%;
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6 {
    float: left;
    padding: 0 20px 0 0;
    .clearfix;
    &:last-child {
        padding: 0;
    }
}

.row-2 {
    height: 50%;
}