@import "variables.less";
@import "mixins.less";
//
// 排版
//
// 小号字符
small,
.small {
    margin: 0 @component-margin;
    color: @component-color;
    font-size: @font-size-small;
}

// 文本对齐
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-primary {
    .text-emphasis-variant(@primary);
}

.text-success {
    .text-emphasis-variant(@success);
}

.text-info {
    .text-emphasis-variant(@info);
}

.text-warning {
    .text-emphasis-variant(@warning);
}

.text-danger {
    .text-emphasis-variant(@danger);
}

.bg-primary {
    color: #fff;
    .bg-variant(@primary);
}

.bg-success {
    .bg-variant(@state-success-bg);
}

.bg-info {
    .bg-variant(@state-info-bg);
}

.bg-warning {
    .bg-variant(@state-warning-bg);
}

.bg-danger {
    .bg-variant(@state-danger-bg);
}

.page-header {
    padding: @page-header-padding;
    border-bottom: @page-header-border-bottom;
    font-size: @page-header-font-size;
    >img {
        .icon(32px, 0 0.5em)
    }
    >a {
        float: right;
        color: @primary;
    }
    &+.table,
    &+.list-group {
        margin-top: 20px;
    }
}