 section {
            width: 1280px;
            margin: auto;
            padding: 20px;
            border: thin solid lightblue;
            border-radius: 5px;
            background: white;
        }